<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>32058291181-g3k6ng82bt1qcb3ugjp58ushh2n8ldt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32058291181-g3k6ng82bt1qcb3ugjp58ushh2n8ldt7</string>
	<key>GCM_SENDER_ID</key>
	<string>32058291181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serhiipianykh.ShopList</string>
	<key>PROJECT_ID</key>
	<string>shoplist-74755</string>
	<key>STORAGE_BUCKET</key>
	<string>shoplist-74755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:32058291181:ios:91b940e7cf151bbe</string>
	<key>DATABASE_URL</key>
	<string>https://shoplist-74755.firebaseio.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzK2tleCLD6l8a6S6BtCZVg-Q4ZhOWAj8</string>
</dict>
</plist>
